<!DOCTYPE html>
<html lang="en" >
<style>
/*Tooltip*/
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

}


.tooltip .tooltipimg {
width: 30px; 
height:auto;
opacity: 0;
position:relative;
}



.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  
  bottom: 195%;
filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
  
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {

  visibility: visible;
  opacity: 1;
     transform: translate(0px, 10px);
     transition: .5s cubic-bezier(0.175, 0.885, 0.32, 2.275);        
     
}

.tooltip:hover {
  visibility: visible;
  opacity: 1;

}

</style>
</style>
<head>
  <meta charset="UTF-8">
  <title>Material Bootstrap Wizard</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <body  style="background: transparent">
    <div class="image-container set-full-height" style="background:transparent" >
	    <!--   Creative Tim Branding   -->
	    <a href="http://creative-tim.com" target="_blank">
	    </a>

		<!--  Made With Material Kit  -->

	    <!--   Big container   -->
	    <div class="container" >
	        <div class="row"  >
		        <div   >
		            <!-- Wizard container -->
		            <div class="wizard-container"  style =" background: transparent " >
		                <div class="card wizard-card" data-color="red" id="wizard" style=" left: 30px; position:fixed; max-width:90%; top: 30px; background-image: url('background.jpg'); ">
		                    <form action="" method="" >
		                <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

		                    	<div class="wizard-header" >
		                        	<h4 class="wizard-title">
		                        		Enhanced Material Design</h4>
		                    	</div>
								<div class="wizard-navigation">
									<ul >
			                            <li ><a style="font-size:14px" href="#details" data-toggle="tab">
										Forms</a></li>
			                            <li><a style="font-size:14px" href="#captain" data-toggle="tab">
										Accordion</a></li>
			                            <li><a style="font-size:14px" href="#description" data-toggle="tab" >
										Carousel</a></li>
			                        </ul>
								</div>

		                        <div class="tab-content">
		                            <div class="tab-pane" id="details" style="height:355px">
		                            	<div class="row">
		                                	<div class="col-sm-6">
												<div class="input-group" style="width:300px">
													<span class="input-group-addon">
														<i class="material-icons">
													email</i>
													</span>
													<div class="form-group label-floating" >
			                                          	<label class="control-label" style="">
														Enhanced Material Design 
														Placeholder</label>
			                                          	<input name="name" type="text" class="form-control">
			                                        </div>
												</div>

												<div class="input-group" style="width:300px">
													<span class="input-group-addon">
														<i class="material-icons">
													lock_outline</i>
													</span>
													<div class="form-group label-floating">
			                                          	<label class="control-label">
														Enhanced Placeholder and Tooltip</label>
			                                          	<input name="name2" type="password" class="form-control">
			                                          
													<div class="tooltip" style=" cursor: default; width:20px!important; position : absolute; margin-left:110%; margin-top: -40px" ><i class="material-icons" >information</i>
	
 <div  class="tooltiptext" style ="margin-left:-82px; bottom:50px; width:160px!important;  height:100px; background-size: 80%;  background-image:url('../Documents/My Web Sites/Agile1.PNG'); background-repeat:no-repeat; background-position: 0px 30px">
	<strong>Password Requirements</strong>
  														
															<div style="display: flex; flex-direction:column;     text-align: left; padding-left:20px; line-height:9px; padding-top:4px ">
																<P >&#x2022; <nobr>Uppercase letters</nobr></p>
																
																		<P>&#x2022; <nobr>Lowercase letters</nobr></p>
																			<P>&#x2022; Numbers</p>
																					<P>&#x2022; Symbols</p>
																					</div>							

 </div>
														
														
</div>
			                                        </div> 	

												</div>

		                                	</div>
		                            	</div>
		                            </div>
		                            <div class="tab-pane" id="captain"  style="height:355px">
		                            <p style="padding-left:10px; font-weight:400; margin-bottom:10px">Enhanced Material Design Accordion Panels</p>
		                                <h4 class="info-text">
										<iframe style=" margin-top:-25px;  width:100%; height:305px" scrolling="no" frameborder="0" name="I1" id="I1" src="../accordion/dist/index.html">Your browser does not support inline frames or is currently configured not to display inline frames.
										</iframe>
										
										</h4>
		                                <div class="row">
		                                    <div class="col-sm-10 col-sm-offset-1">
												<div class="col-sm-4">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="description" style="overflow:hidden">
		                              <p style="padding-left:0px; font-weight:400; background:white; width:100%">
										Wikipedia&#39;s Top 10 Most Significant People in 
										History</p>
		                                <div class="row" style="background:white">
		                                  
		                                    
		                                    										<embed  style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background:white;  overflow: hidden;  width:100%; height:380px; text-align: center;  position:absolute"   src="../Carousel/index.html">	</embed>

		                                    
		                                    
		                                    <div class="col-sm-6 col-sm-offset-1">
		                                    </div>
		                                    <div class="col-sm-4">
		                                    	<div class="form-group">
		                               
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
	                        	<div class="wizard-footer">
	                            	<div class="pull-right">
	                                    
	                                
	                                </div>
	                                <div class="pull-left" style="margin-top:-180px">


										<div class="footer-checkbox">
											<div class="col-sm-12">
											  <div class="checkbox">
												  <label style="transition: .5s all" onmouseout="this.style.color='#AAAAAA'"  onmousemove="this.style.color='#000'">
													  <input type="checkbox" name="optionsCheckboxes">
												  Enhanced Material Design 
													Checkbox</label>
											  </div>
										  </div>
										</div>
	                                </div>
	                                <div class="clearfix"></div>
	                        	</div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div> <!-- row -->
		</div> <!--  big container -->

	</div>
	<br>
	<br>
</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
