<!DOCTYPE html>
<html>
<head>
<title>3D Carousel Animated Profile Card </title>
    <script src="jquery-3.5.1.js"></script>
    
    <link rel="stylesheet" href="materialize.min.css">

    
    <script src="materialize.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div class="carousel" style="left: 0px; top: 0px">
        
                <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg1.jpg'); background-size: cover; background-repeat:no-repeat; background-position: -80px -5px; border-radius: 5px" ></div>
            <h3>1. Jesus of Nazareth</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                   <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>
        
        
        
        
                <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg2.jpg'); background-size: cover; background-repeat:no-repeat;  border-radius: 5px" ></div>
            <h3>2. Napoleon</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>

        
        
        
                        <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg3.jpg'); background-size:cover; background-repeat:no-repeat;  background-position: -50px -5px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">3. William Shakespeare</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>

        
        
                       <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg4.jpg'); background-size: cover; background-repeat:no-repeat;  background-position: -50px 0px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">4. Muhammed</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>
        

        
        
                               <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg5.jpg'); background-size: cover; background-repeat:no-repeat;  background-position: -80px 0px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">5. Abraham Lincoln</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>
        

               
          
 
                
                               <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg6.jpg'); background-size: cover; background-repeat:no-repeat;  background-position: -1px 0px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">6. George Washington</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>
        

        
        
        
                                     <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg7.jpg'); background-size: cover; background-repeat:no-repeat;  background-position: -10px 50px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">7. Adolf Hitler</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>

        
        
        
        
                                             <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg8.jpg'); background-size: cover; background-repeat:no-repeat;  background-position: -50px 20px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">8. Aristotle</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>






        
                                             <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg9.jpg'); background-size: 150% 100%; background-repeat:no-repeat;  background-position: -50px 20px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">9. Alexander</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>




        
                                             <div class="carousel-item">
                       <div style="height:320px!important; background-image:url('bg10.jpg'); background-size: cover; background-repeat:no-repeat;  background-position: -10px 20px; border-radius: 5px" ></div>
            <h3 style="font-size:15px">10. Thomas Jefferson</h3>
            <div class="social">
                          <a href="#"><i class ="fa fa-instagram"></i></a>
      <a href="#"><i class ="fa fa-twitter"></i></a>
                        <a href="#"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>

</div>
        
            <script>
$('.carousel').carousel({
    duration: 100,
    indicators: true,
    	numVisible: 5, 
    
    
    onCycleTo: function(data) {
      //do what needs to be done in here ...
   }
});    </script>
</body>
</html>