.circle-menu li {
  list-style: none;
  display: inline;
}

.circle-menu {
    position: relative;
    width: 24em;
    height: 24em;
    border: dashed 2px #cccccc;
    border-radius: 50%;
    margin: 5em auto 7em;
}
.circle-menu a {
  display: block;
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 8em; height: 8em;
  line-height:8em;
  margin: -3.5em;
  -moz-border-radius: 4em;
  -webkit-border-radius: 4em;
  border-radius: 4em;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.circle-menu a.spiritual {background:#009cde;opacity: 0.6;}
.circle-menu a.occupational {background:#3a913f;opacity: 0.6;}
.circle-menu a.emotional {background:#fecd06;opacity: 0.6;}
.circle-menu a.environmental {background:#fa7f00;opacity: 0.6;}


.circle-menu a.intellectual {background:#ed2124;opacity: 0.6;}
.circle-menu a.social {background:#932683;opacity: 0.6;}
.circle-menu a.physical {background:#203864;opacity: 0.6;}


 /* 360/5= 72 roughly so for 5 elements rotate the element every 51deg. 12em translate is half the container */

.circle-menu .environmental { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.circle-menu .environmental:hover {box-shadow:0 0 0 26px #e78267 ; box-shadow: inset 0 0 10px #000000;}

.circle-menu .intellectual { transform: rotate(350deg) translate(12em) rotate(-350deg); }
.circle-menu .intellectual:hover {box-shadow:0 0 0 26px #e78267 ; box-shadow: inset 0 0 10px #000000;}

.circle-menu .spiritual { transform: rotate(50deg) translate(12em) rotate(-50deg);}
.circle-menu .spiritual:hover {box-shadow:0 0 0 26px #e78267 ; box-shadow: inset 0 0 10px #000000;}

.circle-menu .occupational { transform: rotate(130deg) translate(12em) rotate(-130deg);}
.circle-menu .occupational:hover {box-shadow:0 0 0 26px #e78267 ; box-shadow: inset 0 0 10px #000000;}

.circle-menu .emotional { transform: rotate(190deg) translate(12em) rotate(-190deg); }
.circle-menu .emotional:hover {box-shadow:0 0 0 26px #e78267 ; box-shadow: inset 0 0 10px #000000;}






.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  font-size: 52px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.button span[class^='ion'] {
  position: relative;
}
.button:before {
  content: '';
  background-color: green;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0.001, 0.001);
          transform: scale(0.001, 0.001);
}
.button:focus {
  outline: 0;
  color: #fff;
}
.button:focus:before {
  -webkit-animation: effect_dylan 0.8s ease-out;
          animation: effect_dylan 0.8s ease-out;
}
@-webkit-keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
@keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}


